body {
   background: linear-gradient(90deg,rgb(71, 71, 71) 0%, rgb(150, 150, 150) 28%, rgb(81, 81, 81) 100%);
}

@keyframes slide {
    0% {
        transform: translateX(-55vw);
    }
    5% {
        transform: translateX(-45vw);
    }
    10% {
        transform: translateX(-35vw)
    }
    15% {
        transform: translateX(-25vw);
    }
    25% {
        transform: translateX(-15vw);
    }
    35% {
        transform: translateX(8vw);
    }
    40% {
        transform: translateX(4vw);
    }
    45% {
        transform: translateX(2vw);
    }
    50% {
        transform: translateX(1vw);
    }
    75% {
        transform: translateX(1.5vw);
    }
    100% {
        transform: translateX(0vw)
    }
}

.slide {
    border-radius: 60px;
    width: 10px;
    height: 300px;
    width: 500px;
    animation: slide 5s ease 1;
    animation-fill-mode: forwards;
    overflow: hidden;
}

.slide:hover {
    filter: drop-shadow(20px 20px 10px white);
    transition: 0.5s ease-out;
}

.page2pics {
    display: flex;
    border: double 2px rgb(107, 107, 108);
    background: linear-gradient(90deg,rgb(52, 52, 52) 0%, rgb(160, 160, 160) 28%, rgb(53, 53, 53) 100%);
    border-radius: 60px 60px 9px 9px;
    margin: 60px;
    justify-content: space-around;
}

p {
    color: white;
    border: 4px double rgb(54, 128, 152);
    padding: 34px;
    position: absolute;
    top: -40px;
    left: 125px;
}