body {
    background: linear-gradient(90deg,rgb(255, 255, 255) 0%, rgb(85, 123, 141) 28%, rgb(145, 174, 179) 100%);
}

.Picture1 {
    border-radius: 5px 35% 35% 5px;
    position: absolute;
    top: -10px;
    left: -8.5px;
    margin: 10px;
    width: 650px;
    border-top: 5px solid rgba(255, 255, 255, 0.199);
    border-bottom: 5px solid rgba(255, 255, 255, 0.297);
    border-left: 5px solid rgba(44, 98, 118, 0.954);
    border-right: 5px solid rgba(75, 116, 125, 0.613);
}

p {
    color: white;
    position: absolute;
    top: 400px;
}