body {
    background-color: rgb(11, 94, 94);
}

.header {
    color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    border: 15px outset rgb(0, 170, 255);
    padding: 2.5px;
    border-radius: 25px;
}

.header h2 {
    color: red;
    font-size: 50px;
    font-family: fantasy;
}