@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Delius+Swash+Caps&family=Henny+Penny&family=Irish+Grover&family=Lugrasimo&family=Shizuru&display=swap');

body {
    background-image: linear-gradient(to right,rgba(211, 163, 5, 0.644), rgba(14, 153, 166, 0.745));
}

.header {
    background-color: rgba(219, 172, 1, 0.263);
    display: flex;
    justify-content: center;
    border: 10px groove rgb(255, 187, 0);
    border-inline-start: 10px dashed rgba(225, 196, 2, 0.945);
    border-inline-end: 10px dashed rgba(2, 173, 188, 0.637);
    padding: 2.5px;
    border-radius: 700px;
    margin: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.header h2 {
    color: rgb(255, 191, 0);
    font-family: "Shizuru";
    font-size: 69px;
}

a {
    text-decoration: none;
    letter-spacing: 1.5px;
    background-color: rgba(255, 204, 0, 0.804);
    padding: 10px;
    border-radius: 60px;
    color: rgb(255, 255, 255);
}

.aside {
    border: 10px groove rgba(224, 175, 0, 0.818);
    border-inline-start: 10px dashed rgba(225, 196, 2, 0.945);
    border-inline-end: 10px dashed rgba(2, 168, 184, 0.649);
    border-radius: 80px;
    margin: 60px;
    width:35%;
    background-color: rgba(255, 183, 0, 0.395);
    padding: 20px;
}

.links {
    padding: 6px;
    margin: 10px;
    border-radius: 25px;
    display:flex;
    justify-content: space-around;
}

.nav-link {
    background-color: rgba(255, 200, 0, 0.27);
    padding: 50px;
    border-radius: 20px;
}

.nav-link a {
    transition: 0.7s;
    cursor: pointer;
}

.nav-link a:hover {
    background-color: rgba(0, 140, 255, 0.702);
    
}

.aside img {
    width: 95%;
    height: auto;
    border-radius: 60px;
}